:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Catamaran, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;

  font-weight: 400;
  color: #888a8b;
  background-color: #fff;
}
